.btn {
    padding: 15px 25px;
    border-radius: 5px;

    &-primary {
        background: $primary;
        color: $white;
        font-weight: 500;
        transition: all .3s linear;
    }
    &-primary:hover{
        background: $primaryBtnHover;
        color: $white;
    }
    &-primary:focus{
        background: $primaryBtnHover;
        color: $white;
    }
    
    &-white {
        background: $white;
        color: $textColorHead;
        font-weight: 500;
        transition: all .3s linear;
    }
    &-white:hover{
        background: $textColorHead;
        color: $white;
    }
    &-white:focus{
        background: $textColorHead;
        color: $white;
    }
}
