/*************
Hero Slider
*************/

.hero-slider {
    height: 100%;

    &__wrapper {
        @mixin DesktopView {
            padding-top: 100px;
            padding-left: 230px;
            padding-bottom: 30px;
        }

        &__content {
            @mixin DesktopView {
                display: flex;
                justify-content: space-between;
                width: 900px;
                height: 500px;
            }

            .content-left {
                @mixin smallScreen {
                    width: 350px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    color: $white;
                    text-align: center;
                }
                @mixin OnePlus {
                    width: 380px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    color: $white;
                    text-align: center;
                }

                @mixin DesktopView {
                    position: relative;
                    left: 0;
                    top: 0;
                    transform: none;
                    color: #000;
                    transform: translateY(15%);
                    text-align: left;
                }

                .heading {
                    font-family: "Cormorant Garamond", sans-serif;
                    font-size: 20px;
                }

                .title {
                    font-size: 42px;
                    @mixin smallScreen{
                        font-size: 32px;
                    }
                }

                .subtitle {
                    font-weight: 300;
                    font-size: 16px;
                }

                .dash {
                    height: 1px;
                    width: 20px;
                    border-bottom: solid 1px $white;
                    transform: translateY(-5px);
                    margin-right: 10px;

                    @mixin DesktopView {
                        border-bottom-color: #000;
                    }
                }
            }

            .content-right {
                @mixin smallScreen {
                    background-position: center;
                    background-attachment: scroll;
                    background-size: cover;
                    background-repeat: no-repeat;

                    position: relative;
                    z-index: 0;

                    height: 560px;
                    width: 100%;
                }
                @mixin OnePlus {
                    background-position: center;
                    background-attachment: scroll;
                    background-size: cover;
                    background-repeat: no-repeat;

                    position: relative;
                    z-index: 0;

                    height: 790px;
                    width: 100%;
                }
                @mixin DesktopView {
                    position: relative;
                    z-index: 0;
                    height: 450px;
                    width: 450px;

                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.6);

                    @mixin DesktopView {
                        background-color: rgba(0, 0, 0, 0.3);
                    }
                }

                .vertical-name {
                    display: none;

                    @mixin DesktopView {
                        display: inline-block;
                        padding: 5px 30px;
                        background: #DCBFBD;
                        transform: rotate(-90deg);
                        margin-top: 240px;
                        margin-left: -80px;

                        &__head {
                            font-size: 52px;
                            background: url(assets/images/[colorlib.com][91]bg1.jpg);
                            background-position: bottom;
                            color: white;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            margin: 10px;
                        }
                    }
                }
            }

            .content-img1 {
                background-image: url("assets/images/%5Bcolorlib.com%5D%5B835%5Ddestination-2.jpg");
            }

            .content-img2 {
                background-image: url("assets/images/[colorlib.com][91]bg1.jpg");
            }
        }
    }
}

/*TWEAKING OWL CAROUSEL*/
