#home {
    position: relative;
    overflow: hidden;

    .owl-theme .owl-dots {
        position: absolute;
        top: 93%;
        left: 43%;
        z-index: 99999;
        @mixin TabView{
            left: 47%;
        }
        @mixin DesktopView {
            left: 47%;
        }
    }

    .owl-theme .owl-dots .owl-dot span {
        border-radius: 0;
    }

    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: $primaryBtnHover;
    }

}

/*************
Blob Image
*************/

.bg-img {
    position: absolute;
    right: 0;
    top: 0;
    /*    z-index: -9999;*/

    @mixin OnePlus {
        height: 500px;
        display: none;
    }

    @mixin smallScreen {
        height: 500px;
        display: none;
    }

    @mixin DesktopView {
        transform: translate(260px, -440px);
        height: 1200px;
        display: block;
    }
}